################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/.vs/LockScreenTimer/v16/Server/sqlite3
/bin
